{% extends 'user/login.html' %}
{% block title %}Tastify - Forgot Password{% endblock %}
{% block navbar %}
<div class="login-section" >
    <form>
        <div class="header-logo align-center">
            <p>Tastify</p>
        </div>
       <h1 id="login">Enter Your Tastify EmaiL</h1>
    <div class="login-forms">
        <label for="">Email</label>
        <input type="email" placeholder="Enter Your Email" name="email" id="email">
        <p id="emailid"></p>
    </div>
    <div class="login-button">
        <button type="button" id="submit_btn" onclick="sendEmail()">Submit</button>
    </div>
    <div class="flex-column">
        <p>or</p>
        <a href="{% url 'signup' %}">Create new account</a>
    </div>
    <div class="flex-column">
        <!-- HTML !-->
        <button class="button-86" onclick="window.location.replace('/')" type="button">Back to Login</button>
    </div>
   </form>
</div>
<script>
    function sendEmail(){
        let email = $("#email").val();
        let emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/; 
        if (!email){
            $("#emailid").text("Please Enter Your Email").css('color','red');
            $("#email").css('border-color','red');
            $(document).ready(function () {
                $("#email").on('input', function () {
                    $("#emailid").text('')
                    $("#email").css('border-color','gray')
                })
            });
            return;
        }
        else if (!emailRegex.test(email)) {
        $("#emailid").html("Please enter a valid email address").css('color', 'red');
        $("#email").css('border-color','red');
        return;
        }
        else{
            $("#emailid").text('');
            $("input").css('border-color','green');
        }
        $("#submit_btn").text("Please Wait")
        $.ajax({
            type:'POST',
            url:'/send_mail/',
            data:{
                "email":email,
            },
            success:function(response){
                if (response['status'] == 'pass'){
                    $("#login").text(response['message']).css('color', 'green');
                    $("#submit_btn").text("Submit")
                    setTimeout(() => {
                        window.location.href = '{% url "login" %}';
                    }, 4000);

                    // window.location.href = '{% url "login" %}';
                }
                else if (response['status'] == 'fail'){
                    $("#login").text(response['message']).css('color', 'red');
                    $("input").css('border-color','red');
                    $("#submit_btn").text("Submit")
                    setTimeout(function(){
                        window.location.href = '{% url "login" %}';
                    }, 4000);
                }
            },
            error:function(err){
                $("#login").text("Something Went Wrong").css('color', 'red');
            }
        })
    }
</script>
{% endblock navbar %}