{% extends 'user/login.html' %}
{% block navbar %}
<div class="login-section" >
    <form>
       <h1 id="login">Reset Password</h1>
    <div class="login-forms reset-password" >
        <label for="">Your Email</label>
        <input type="text" value="{{user.email}}" placeholder="" name="old_password" disabled readonly id="old_password">
        <input type="hidden" value="{{user.id}}" placeholder="Enter Your Old Password" name="user_id" id="user_id">
    </div>
    <div class="login-forms reset-password">
        <label for="">New Password</label>
        <input type="password" placeholder="New Password" name="password" id="newpassword">
        <p id="passwordid"></p>
        <div class="flex-row">
            <input type="checkbox" name="" onclick="showPassword('newpassword')" id="">
            <p>Show Password</p>
        </div>
    </div>
    <div class="login-forms reset-password">
        <label for="">Confirm Password</label>
        <input type="password" placeholder="Repeat password" name="password" id="confirmpassword">
        <p id="confirmpasswordid"></p>
        <div class="flex-row">
            <input type="checkbox" name="" onclick="showPassword('confirmpassword')" id="">
            <p>Show Password</p>
        </div>
    </div>
    <div class="login-button">
        <button type="button" id="btn_submit" onclick="ChangePassword()">Change Password</button>
    </div>
   </form>
</div>
<script>
    $(document).ready(function(){
        $("#old_password").css({'border':"none",'outline':'1'});
    })
    function ChangePassword() { 
        let newpassword = $("#newpassword").val();
        let user_id = $("#user_id").val();
        let confirmpassword = $("#confirmpassword").val();
        let passwordRegex = /^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        if (!newpassword){
            $("#passwordid").text("Please Enter Your Password").css('color','red');
            $("#password").css('border-color','red');
            return;
        }
        else if (!passwordRegex.test(newpassword)) {
            $("#passwordid").html(`
                <ul style="color: red; padding-left: 15px;">
                    <li>Password must be at least 8 characters long</li>
                    <li>Must include 1 uppercase letter</li>
                    <li>Must include 1 special character (@$!%*?&)</li>
                    <li>Must include 1 number</li>
                </ul>
            `);
            $(document).ready(function () {
                $("#newpassword").on('input', function () {
                    $("#passwordid").text('')
                    $("#newpassword").css('border-color','gray')
                })
            });
            return;
        }
        else if (!confirmpassword){
            $("#confirmpasswordid").text("Please repeat the password").css('color','red');
            $("#confirmpassword").css('border-color','red');
            $(document).ready(function () {
                $("#confirmpassword").on('input', function () {
                    $("#confirmpasswordid").text('')
                    $("#confirmpassword").css('border-color','gray')
                })
            });
            return;
        }
       
        else if (newpassword != confirmpassword){
            $("#confirmpasswordid").text("Password Does Not Match").css('color','red');
            $("#confirmpassword").css('border-color','red');
            return;
        }
        else{
            $("#passwordid").text('');
            $("#confirmpasswordid").text('');
            $("input").css('border-color','green');
        }

        $("#btn_submit").text("Please Wait")
        $.ajax({
            type: "POST",
            url: "/change_password/",
            data: {
                "newpassword": newpassword,
                "user_id": user_id,
            },
            success: function (response) {
               if(response['status'] == 'pass'){
                    $("#login").text(response['message']).css('color', 'green');
                    setTimeout(() => {
                        window.location.replace('{% url "login" %}');
                    }, 4000);
               }
               else if(response['status'] == 'fail'){
                    $("#login").text(response['message']).css('color', 'red');
                    setTimeout(function(){
                        window.location.href = '{% url "login" %}';
                    }, 2000);
               }
            }
        });
     }


     
     function showPassword(id) { 
        let input = $("#"+id);
        if (input.attr('type') == 'password'){
            input.attr('type','text');
        }
        else{
            input.attr('type','password');
        }   
      }
</script>
{% endblock navbar %}