{% extends 'user/userdashboard.html' %}
{% load static %}
{% block title %}Update Your Details{% endblock %}
{% block navbar %}
<body>
    <div class="login-section " >
 <h1 id="login">Update Your Account</h1>
    <div class="signup-section">
    <div class="login-forms">
        <label for="">Username</label>
        <input type="text" placeholder="Enter Your Name" value="{{user.username}}" name="username" id="username{{user.id}}">
        <p id="uname"></p>
    </div>
    <div class="login-forms">
        <label for="">Email</label>
        <input type="email" placeholder="Enter Your Email" name="email" value="{{user.email}}" id="email{{user.id}}">
        <p id="emailid"></p>
    </div>
    <div class="login-forms">
        <label for="">Password</label>
        <input type="password" placeholder="Enter Your Password" name="password" id="password{{user.id}}" value="{{user.password}}">
        <p id="passwordid"></p>
        <div class="flex-row">
            <input type="checkbox" name="" onclick="showPassword('password{{user.id}}')" id="">
            <p>Show Password</p>
        </div>
    </div>
    <div class="login-forms">
        <label for="">Phone</label>
        <input type="number" placeholder="Enter Your Phone" maxlength="10" name="phone" id="phone{{user.id}}" value="{{user.phone}}">
        <p id="phoneno"></p>
    </div>
    <div class="login-forms">
        <label for="">First Name</label>
        <input type="text" placeholder="Enter Your First Name" name="firstname" id="firstname{{user.id}}" value="{{user.first_name}}">
        <p id="fname"></p>
    </div>
    <div class="login-forms">
        <label for="">Last Name</label>
        <input type="text" placeholder="Enter Your Last Name" name="lastname" id="lastname{{user.id}}" value="{{user.last_name}}">
        <p id="lname"></p>
    </div>
    <div class="login-forms">
        <label for="">Date of Birth</label>
        <input type="date" placeholder="Enter Your BirthDate" name="birthdate" id="birthdate{{user.id}}" value="{{user.date_of_birth | date:'Y-m-d'}}">
        <p id="bdate"></p>
    </div>
    <div class="login-forms" style="visibility: hidden;">
        <label for="">Profile Picture</label>
        <input type="file" placeholder="" name="profile" id="profile" value="{{user.profilePicture.url}}">
        <p id="profileimg"></p>
    </div>

    <div class="login-button signup-button">
        <button type="" id="btn_update" onclick="UpdateUserDetails('{{user.id}}')">Update</button>
    </div>
   </div>
</div>
    <script>
         function showPassword(id) { 
        let input = $("#"+id);
        if (input.attr('type') == 'password'){
            input.attr('type','text');
        }
        else{
            input.attr('type','password');
        }   
      }
      function UpdateUserDetails(id) {
    let username = $("#username"+id).val();
    let email = $("#email"+id).val();
    let password = $("#password"+id).val();
    let phone = $("#phone"+id).val();
    let firstname = $("#firstname"+id).val();
    let lastname = $("#lastname"+id).val();
    let birthdate = $("#birthdate"+id).val();
    // let profile = $("#profile")[0].files[0];
    let emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;    
    let passwordRegex = /^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

    if (!username) {
        $("#uname").html("Please Enter Your Username").css('color', 'red');
        return;
    } else if (!email) {
        $("#emailid").html("Please Enter Your Email").css('color', 'red');
        return;
    } else if (!emailRegex.test(email)) {
        $("#emailid").html("Please enter a valid email address").css('color', 'red');
        return;
    } else if (!password) {
        $("#passwordid").html("Please Enter Your Password").css('color', 'red');
        return;
    }else if (!passwordRegex.test(password)) {
    $("#passwordid").html(`
        <ul style="color: red; padding-left: 15px;">
            <li>Password must be at least 8 characters long</li>
            <li>Must include 1 uppercase letter</li>
            <li>Must include 1 special character (@$!%*?&)</li>
            <li>Must include 1 number</li>
        </ul>
    `);
    return;
     } else if (!phone) {
        $("#phoneno").text("Please Enter Your Phone No").css('color', 'red');
        return;
    } else if (phone.length !== 10) {
        $("#phoneno").text("Please Enter a Valid 10-digit Phone No").css('color', 'red');
        return;
    } else if (!firstname) {
        $("#firstname").html("Please Enter Your First Name").css('color', 'red');
        return;
    } else if (!lastname) {
        $("#lastname").html("Please Enter Your Last Name").css('color', 'red');
        return;
    } else if (!birthdate) {
        $("#birthdate").html("Please fill in your Date of Birth").css('color', 'red');
        return;
    } else {
        $("#emailid, #passwordid, #phoneno, #firstname, #lastname, #birthdate, #profile").html('');
        $("input").css('border-color', 'gray');
    }

    const formdata = new FormData();
    formdata.append('username', username);
    formdata.append('email', email);
    formdata.append('password', password);
    formdata.append('phone', phone);
    formdata.append('firstname', firstname);
    formdata.append('lastname', lastname);
    formdata.append('birthdate', birthdate);
    $("#btn_update").text("redirecting...").css({ 'color': '#007BFF', 'fontWeight': '400' });
    $.ajax({
        type: 'PUT',
        url: '/UpdateUserDetails/',
        data: formdata,
        processData: false,
        contentType: false,
        success: function (data) {
            if (data["status"] === 'pass') {
                $("#login").text(" Updated Successfully").css({ 'color': '#28A745', 'fontWeight': '400' });
                $("input").css('border-color', 'green');
                $("#btn_submit").text("Redirecting...").css({ 'color': '#007BFF', 'fontWeight': '400' });
                setTimeout(() => {
                    window.location.replace('/user/{{user.username}}/{{user.id}}/posts');
                }, 3000);
            } else if (data["status"] === 'fail') {
                alert("Failed to updated.");
            }
        },
        error: function (xhr, status, error, data) {
            if (error) {
                $("#login").text("Something Went Wrong").css({ 'color': '#DC3545', 'fontWeight': '400' });
                $('input').css('border-color', 'red');
            } else if (data['error']) {
                $("#login").text(data['error']);
            } else {
                $('input').css('border-color', 'gray');
            }
        }
    });
}

    </script>
</body>
</html>
{% endblock %}
