{% extends 'user/userdashboard.html' %}
{% load static %}
{% block title %}User Details{% endblock %}
{% block navbar %}
<style>
    * {
        background: none;
    }

    .cover-photo-section {
        width: 1500px;
        height: 220px;
        position: relative;
        overflow: hidden;
    }

    .cover-photo-section img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .profilePicture {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin: -75px auto 0;
    }

    .profilePicture img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid white;
    }

    .add-cover-btn {
        position: absolute;
        bottom: 15px;
        /* Position button at bottom */
        right: 15px;
        /* Align to right */
        background-color: rgba(0, 0, 0, 0.6);
        /* Semi-transparent black */
        color: white;
        border: none;
        padding: 8px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        transition: background 0.3s;
    }

    .add-cover-btn:hover {
        background-color: rgba(0, 0, 0, 0.8);
        /* Darker on hover */
    }

    .blogs-sections {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 5px;
        flex-wrap: wrap;
    }

    .blogs-sections .blogs img {
        height: 300px;
        width: 300px;
        object-fit: cover;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .recipe-title {
        font-weight: 300;
        font-size: 18px;
        margin: 10px 0;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        cursor: pointer;
    }

    .text-nick {
        color: #555;
        font-weight: 500;
        margin: 5px 0;
    }

    .likes-status {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .status-label {
        position: relative;
        display: inline-block;
    }

    .post-now-btn {
        display: none;
        font-size: 10px;
        padding: 3px 6px;
        margin-left: 10px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .status-label:hover .post-now-btn {
        display: inline-block;
    }

    .btn_remove {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        flex-direction: column;
        gap: 10px;
    }

    .btn_remove button {
        padding: 10px 25px;
        width: 100%;
        background: lightgray;
        color: black;
        font-weight: 400;
        cursor: pointer;
        border: 1px solid lightgray;
        border-radius: 10px;
    }
</style>
<div id="comment-loader" style="display:none;">
    <div class="loader-overlay">
        <div class="loader-spinner"></div>
    </div>
</div>
<div class="container">
    <div class="cover-photo-section">
        {% if user.cover_photo %}
        <img src="{{user.cover_photo.url}}" alt="Cover Photo">
        {% else %}
        <img src="{% static 'images/apple.webp' %}" alt="">
        {% endif %}
        {% if user.id == request.session.user_id %}
        <button class="add-cover-btn" id="cover_btn">+Add Cover Photo </button>
        {% else %}
        <script>
            $("#cover_btn").hide();
        </script>
        {% endif %}
        <input type="file" name="cover_img" id="cover_img" accept="image/*" style="display: none;">
        <input type="hidden" value="{{user.id}}" id="user_id">
    </div>

    <div class="profilePicture">
        {% if user.profilePicture %}
        <img src="{{user.profilePicture.url}}" alt="Profile Picture">
        {% else %}
        <img src="{% static 'images/apple.webp' %}" alt="">
        {% endif %}
        {% if user.id == request.session.user_id %}
        <a id="editBtn2" class="edit-icon" style="cursor: pointer;"><i class='bx bx-edit-alt'></i></a>
        {% endif %}
        <input type="file" name="profile_img2" id="profile_img2" accept="image/*" style="display: none;">

    </div>
    <div>
        <h1 class="text-center">{{user.username}}</h1>
        <p class="text-center text-nick">{{user.nick}}</p>
    </div>
    <div>
        {% if recipes %}
        <h4 class="text-center recipe-title"> Blogs Published {{recipe_count}}</h4>
        {% else %}
        <h2 class="text-center">No Recipes Found</h2>
        {% endif %}
    </div>

    <h1>My Kitchen</h1>
    <div class="blogs-sections">
        {% for kitchen in kitchens %}
            <div class="blogs">
                {% if kitchen.kitchen_logo %}
                <img src="{{kitchen.kitchen_logo.url}}" alt="">
                {% else %}
                <img src="{% static 'images/apple.webp' %}" alt="">
                {% endif %}
                <h4 class="">
                    {{kitchen.kitchen_name|slice:'20'}}...</h4>
                    <div class="btn_remove">
                        {% if current_user_id == kitchen.user.id %}
                        <button class="btn-remove" onclick="kitchenDashboard('{{kitchen.kitchen_id}}')">Dashboard</button>
                        <button class="btn-remove" onclick="RemoveKitchen('{{kitchen.kitchen_id}}')">Delete</button>
                        {% endif %}
                    </div>    
            </div>
            {% empty %}
            NO Kitchen found 
            <a href="/create_kitchen/">Create Kitchen</a>
        {% endfor %}
    </div>
    <h1>My Recipe Blogs</h1>
    <div class="blogs-sections">
        {% for recipe in all_recipes %}
        <div class="blogs">
            {% if recipe.post_url %}
            <img src="{{recipe.post_url.url}}" alt="">
            {% else %}
            <img src="{% static 'images/apple.webp' %}" alt="">
            {% endif %}
            <h4 class="user_name recipe-title" {% if current_user_id == recipe.user_id.id %}
            onclick="recipeDetails('{{recipe.reciepe_id}}')"
            {% endif %} >
                {{recipe.recipe_title|slice:'20'}}...</h4>
            <div class="likes-status">
                <p class="text-nick">Likes: {{recipe.likes}}</p>
                </p>
                <p class="text-nick status-label" data-status="{{ recipe.status|lower }}">
                    <span class="status-text">{{ recipe.status }}</span>
                    <button class="post-now-btn">Post Now</button>
                </p>
            </div>
            <div class="btn_remove">
                {% if current_user_id == recipe.user_id.id %}
                <button class="btn-remove" onclick="recipeDetails('{{recipe.reciepe_id}}')">Update</button>
                <button class="btn-remove" onclick="RemoveRecipe('{{recipe.reciepe_id}}')">Delete</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    
    function recipeDetails(id){
        window.location.href = '/update_recipe/'+id
    }
    function kitchenDashboard(id){
        window.location.href = '/kitchen_dashboard/'+id
    }
    function RemoveRecipe(id) {
        $("#comment-loader").show();
        const startTime = new Date().getTime();
        $.ajax({
            type: 'DELETE',
            url: '/api/recipes/' + id + '/',
            data: JSON.stringify({ reciepe_id: id }),
            success: function (response) {
                const endTime = new Date().getTime();
                const duration = endTime - startTime;
                const minimumLoaderTime = 1500;
                const delay = duration < minimumLoaderTime ? minimumLoaderTime - duration : 0;
                setTimeout(() => {
                $("#comment-loader").hide();
                    const successMsg =
                    '<i class="fas fa-check-circle"></i> Successfully Deleted Post';
                showToast(successMsg, 'success');
                setTimeout(() => {
                    window.location.reload();
                }, 2000);
                }, delay);
            },
            error: function () {
                const errorMsg = '<i class="fas fa-check-circle"></i> Something Went Wrong';
                showToast(errorMsg, 'error');
            }
        })
    }
    function RemoveKitchen(id) {
        $("#comment-loader").show();
        const startTime = new Date().getTime();
        $.ajax({
            type: 'DELETE',
            url: '/api/kitchens/' + id + '/',
            data: JSON.stringify({ reciepe_id: id }),
            success: function (response) {
                const endTime = new Date().getTime();
                const duration = endTime - startTime;
                const minimumLoaderTime = 1500;
                const delay = duration < minimumLoaderTime ? minimumLoaderTime - duration : 0;
                setTimeout(() => {
                $("#comment-loader").hide();
                    const successMsg =
                    '<i class="fas fa-check-circle"></i> Successfully Deleted Kitchen';
                showToast(successMsg, 'success');
                setTimeout(() => {
                    window.location.reload();
                }, 2000);
                }, delay);
            },
            error: function () {
                const errorMsg = '<i class="fas fa-check-circle"></i> Something Went Wrong';
                showToast(errorMsg, 'error');
            }
        })
    }
    $(document).ready(function () {
        $(".status-label").each(function () {
            const status = $(this).data("status");
            if (status !== "draft") {
                $(this).find(".post-now-btn").remove(); // Remove button if not draft
            }
        });
    });
    function showToast(message, type) {
        const toast = document.createElement('div');
        toast.classList.add('toast', type);
        toast.innerHTML =
            '<button class="close-btn">X</button>'
            + message;
        toastBox.appendChild(toast);

        const closeButton =
            toast.querySelector('.close-btn');
        closeButton.addEventListener('click', () => {
            toast.remove();
        });

        setTimeout(() => {
            toast.remove();
        }, 3000);
    }
    $("#cover_btn").on("click", function () {
        $("#cover_img").click();
    });


    $("#cover_img").on("change", function () {
        let img = this.files[0];
        let user_id = $('#user_id').val();
        if (!img) return;
        let formData = new FormData();
        formData.append("cover_img", img);
        formData.append("user_id", user_id);
        $.ajax({
            type: 'POST',
            url: "/add_cover/",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data["status"] == 'pass') {
                    showToast(successMsg, 'success');
                    setTimeout(() => {
                        window.location.reload();
                    }, 2000);
                } else {
                    alert('Failed to save');
                }
            },
            error: function (error) {
                showToast(errorMsg, 'error');
            }
        });
    });

    $("#editBtn2").on("click", function () {
        $("#profile_img2").click();
    });

    $("#profile_img2").on("change", function () {
        let img = this.files[0];
        if (!img) return;
        let formData = new FormData();
        formData.append("img", img);
        $.ajax({
            type: 'POST',
            url: "/save_img/",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data["status"] == 'pass') {
                    const successMsg =
                        '<i class="fas fa-check-circle"></i> Successfully Updated Image ';
                    showToast(successMsg, 'success');
                    setTimeout(() => {
                        window.location.reload();
                    }, 2000);
                } else {
                    alert('Failed to save');
                }
            },
            error: function (error) {
                showToast(errorMsg, 'error');
            }
        });
    });


</script>
{% endblock %}